<!doctype html>
<html ng-app="brilnotify">
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
    <script src="https://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-2.1.3.min.js"></script>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script type="text/javascript" src="app.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="script.js"></script>
    <script type="text/javascript" src="cool-service.js"></script>
    <script type="text/javascript" src="main-ctrl.js"></script>
    <script type="text/javascript" src="tab-ctrl.js"></script>
    <script src="vendor/angular-ui-router.js"></script>
</head>

<body>

<div ng-controller="MainCtrl as main">

    <br/> Active tab id: {{ main.activeTabIndex }}
    <br/> Tab count: {{ main.tabs.length }}
    <br/>

    <uib-tabset active="main.activeTabIndex">
        <uib-tab ng-repeat="tab in main.tabs track by tab.id" index="tab.id">
            {{tab}}

            <uib-tab-heading>
                {{tab.title}}<span class="fa fa-close" ng-click="main.removeTab(tab.id)"></span>
            </uib-tab-heading>
            <ng-include src="'tab-template.html'"></ng-include>

        </uib-tab>
        <uib-tab index="-1" ng-click="main.addTab()">
            <uib-tab-heading>
                <span class="fa fa-plus-circle"></span>
            </uib-tab-heading>
        </uib-tab>
    </uib-tabset>

    </br>
    </br>

</div>

<div class="container">
    <ng-include src="'websocket_messages.html'"></ng-include>
</div>

</body>

</html>